.venv
venv/
__pycache__
*.pyc
*.pyo
.pytest_cache
.mypy_cache
.ruff_cache
htmlcov
.coverage
coverage.xml
tests/
debug/
.git
.gitignore
*.md
.env
.env.*
.pytest_tmp
.pytest_tmp/
.pytest_tmp/**
pytest_bundle_tmp_run
pytest_bundle_tmp_run/
pytest_bundle_tmp_run/**
.pytest_cache
.pytest_cache/
.pytest_cache/**
__pycache__
__pycache__/
__pycache__/**
